/* Whole Page*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #232729, #3c475c);
    overflow: overlay;
}

h1, h2, h3, p, li {
    color: white;
    font-family: Roboto;
}

h2 {
    text-align: center;
    font-size: 64px;
}

/* Navigation Bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    position: fixed;
    top: 0;
    width: 100vw;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

nav ul li a:hover:not(.active) {
    background-color: grey;
  }

/* About section */

.bio {
    padding-right: 5%;
    inline-size: 800px;
}

.bio span{
    color: #ff1515;
    font-weight: 1200;
}

.bio h1{
    font-size: 110px;
    overflow: visible;
    margin-bottom: 20px;
}

.bio p{
    margin-top: 0px;
}

.profile-picture {
    padding-left: 5%;
}

#about {
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 5%;
    flex-flow: row wrap;
}

.socials {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}

.socials li {
    float: left;
    padding-right: 20px;
}

.socials li a img {
    height: 4vw;
    align-self: center;
}

.socials li a img:hover:not(:active) {
    opacity: 0.5;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    font-family: Roboto;
    text-align: center;
    padding: 1.2vw;
    border: white 2px;
    border-style: solid;
    border-radius: 20px;

}

a.button:hover:not(:active){
    opacity: 0.5;
}

.profile-picture img{
    border-radius: 50%;
    max-width: 100%;
    min-width: 25vw;
    height: auto;
}

.fa {
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

/* PROJECTS */

#projects {
    background-color: #232729;
}

#projects-list div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.title-pic-column {
    text-align: left;
    inline-size: 500px;
    padding: 20px;
    padding-left: 120px;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
}

.title-pic-column h3{
    font-size: 24px;
}


#projects-list div p {
    text-align: justify;
    inline-size: 600px;
    padding: 20px;
    padding-right: 4vw;
}

/* EXPERIENCE */

#experience {
    text-align: center;
}

.organization {
    font-weight: 700;
    font-size: larger;
}

#experience div h3{
    font-size: 32px;
}

#experience div ul{
    inline-size: 35vw;
    text-align: left;
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
}

#experience div img {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

/* EXTRACURRICULARS */

#extracurriculars {
    background-color: #232729;
    text-align: center;
}

#extracurriculars div h3{
    font-size: 32px;
}

#extracurriculars div ul{
    inline-size: 35vw;
    text-align: left;
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
}

#extracurriculars div img {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

/* CONTACT */

#contact {
    text-align: center;
    display: table;
    margin: 0 auto;
}

#contact p {
    inline-size: 60vw;
}

section {
    padding: 20px;
}

#socials-end {
    display: table;
    margin: 0 auto;
}

/* FOOTER */

footer p{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    margin-bottom: 0;
    text-align: center;
    font-size: small;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
  }